// See link for customization: https://github.com/daviddarnes/alembic#customising

// Background colours
$backgroundColour: #F9F8F0 !default;
$codeBackgroundColour: #fafafa !default;
$featureBackgroundColour: #f9fafa !default;
$accentColour: #05bf85 !default;

// Text colours
$headingColour: #0E0C06 !default;
$bodyColour: #0E0C06 !default;
$linkColour: #437C90 !default;
$hoverColour: #3B6B7D !default;
$focusColour: #3B6B7D !default;
$captionColour: #a8adac !default;
$white: #ffffff !default;

// Typography
$bodytype: (
  font-family: 'EB Garamond',
  regular: 400,
  bold: 700,
  italic: italic,
  cap-height: 0.75
) !default;

$headingtype: (
  font-family: 'EB Garamond',
  regular: 400,
  bold: 700,
  cap-height: 0.75
) !default;

$monospacetype: (
  font-family: "Menlo, monospace",
  regular: 400,
  cap-height: 0.68
) !default;

// Import Alembic theme styles
@import "alembic";
